use flake
export FZFW_FD_EXCLUDE_PATHS='target,.direnv'
if export -p | grep -q "declare -x FPATH="; then
  path_add FPATH "$CARGO_FPATH"
fi

bindir="$(direnv_layout_dir)/bin"
mkdir -p "$bindir"
PATH_add "$bindir"
add_command() {
    local command=$1
    shift
    if [[ -t 0 ]]; then
        echo "$@" >"$bindir/$command"
    else
        cat >"$bindir/$command"
    fi
    chmod +x "$bindir/$command"
}
add_command c 'cargo "$@"'
add_command cb 'cargo build "$@"'

# vim:ft=bash:
